.formulario {
    margin: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(110,110,110,1);
    padding: 15px;
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 241, 241);
    font-family: 'Courier New', Courier, monospace;

    
    & div {
      padding: 10px;
      display: flex;
      flex-direction: column;
    }

    & button {
      background-color: #8dffc6;
      border-radius: 15px;
      border-style: solid;
      border-width: 1px;
      width: 150px;
      align-self: center;
      height: 30px;
    }

    & button:hover{
        background-color: #0ff381;
        cursor: pointer;
    }

}
