body {
    margin: 0;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    background-color: #343434;
    margin: 0;
    padding: 0;
    height: 60px;

    li{
        a{
            text-decoration: none;
            color: white;
        }

        a:hover{
            color: #8dffc6;
        }
    }
}